.App {
  text-align: center;
  margin: 2rem auto;
  max-width: 40rem;
   background: linear-gradient(to right, #180d27, #0c0219);
   border-radius: 6px;
   box-shadow: #282c34;
   padding: 1rem;
   text-align: center;
}
.h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;

}
.MainGoal {
  background-color: #2f0c51;
  padding: 1rem;
  border-radius: 6px;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 5%;

}



/**@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
