body {
  margin: 0;
  color: #e5d9f1;
  background: linear-gradient(to right, #180d27, #0c0219);
  min-height: 100vh;
}
.ligne{
  margin-top: 1rem;
  text-align: center;
}
.must{
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  font-style: sans-serif;

}
.tag {
  background-color: #180d27;

}
.tag2{
  font-weight: bold;
}
.div{
  margin: left 20px;;
}
.App {
  text-align: center;
  margin: 2rem auto;
  max-width: 40rem;
  background: linear-gradient(to right, #180d27, #0c0219);
  border-radius: 6px;
  box-shadow: #282c34;
  padding: 1rem;
  text-align: center;
}
.h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  text-align: center;

}
.MainGoal {
  background-color: #2f0c51;
  padding: 1rem;
  border-radius: 6px;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 5%;

}


